body{
	background: #FFF;
	margin:0;
}
.topo{
	height: 80px;
	background: #EEE;
}
.menu{
	height: 40px;
	background: #DDD;
}
.container{
	min-height: 200px;
	background: #FFF;
}
.rodape{
	height: 80px;
	background: #DDD;
}
.menu ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.menu li{
	height: 40px;
	line-height: 40px;
	color: #000;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;

}
.menu li:hover{
	background: #000;
	color: #FFF;
}

.home_banner{
	height: 450px;
	background-size:cover;
	background-position: center;


}
.home_banner_txt{
	height: 450px;
	text-align: center;
	font-size: 35px;
	font-weight: 800;
	background:rgba(0,0,0,0.4);
	line-height: 450px;
	margin-top: -450px;
	color: #FFF; 
}
.home_cta{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}
.home_cta a {
	text-decoration: none;
	color: #000;
}
.home_cta a div{
	width: 200px;
	height: 40px;
	line-height: 40px;
	padding-right: 30px;
	padding-left: 30px;
	background: orange;
	border-radius: 5px; 
	margin: auto;
}
.home_depo{
	width: 400px;
	margin: auto;
	margin-top: 20px;
}
